argh==0.26.2
black==22.3.0
click==8.1.2
cycler==0.11.0
fonttools==4.33.2
gtp==0.2
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.1
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pathspec==0.9.0
Pillow==9.1.0
platformdirs==2.5.2
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
sgf==0.5
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
tomli==2.0.1
typing_extensions==4.2.0
watchdog==2.1.7
xgboost==1.6.0
